<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.gd.mapper.DatasetMapper">

    <select id="qryDatasetCount" resultType="com.hx.mcpsidecar.model.DatasetDocumentsCountVO">
        select
            count(1) "document_count",
            sum(d.word_count) word_count,
            sum(d.tokens) token_count,
            sum(uf.size) file_size
        from
            (SELECT name,
                word_count,
                tokens,
                dataset_id,
                (data_source_info::jsonb)->>'upload_file_id' AS upload_file_id
                FROM documents
                where data_source_type='upload_file') d
            left join datasets ds
                on d.dataset_id = ds.id
            left join upload_files uf
                on d.upload_file_id = uf.id::text
    </select>

    <select id="datasetDocumentStatistic" resultType="com.hx.mcpsidecar.model.DatasetStatisticInfoVO">
        select
            ds.id,
            max(ds.name) "name",
            0 datasetCount,
            count(1) documentCount,
            sum(d.word_count) word_count,
            case when sum(d.tokens) is not null then sum(d.tokens) else 0 end token_count,
            sum(uf.size) file_size,
            '' type_code,
            '' type_name
        from
            (SELECT name,
                word_count,
                tokens,
                dataset_id,
                (data_source_info::jsonb)->>'upload_file_id' AS upload_file_id
            FROM documents
            where data_source_type='upload_file') d
            left join datasets ds
                on d.dataset_id = ds.id
            left join upload_files uf
                on d.upload_file_id = uf.id::text
            where ds.id is not null
        group by ds.id
    </select>

</mapper>

